.header{
    background: #20222b
}

 //Block element modifier
.header__title{
    font-size:3.2rem;
    margin:0;
}
.header__subtitle{
    color:#a5afd7
    font-size 16rem;
    font-weight: 500;
}
.header__appbar{
height: 20 rem;
}